In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/titanic.csv')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
df.drop(columns=['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],inplace=True)

In [10]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [17]:
dummies = pd.get_dummies(df.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [84]:
newdf = pd.concat([df,dummies],axis='columns')
newdf.head()

   Survived  Pclass     Sex   Age     Fare  female  male
0         0       3    male  22.0   7.2500       0     1
1         1       1  female  38.0  71.2833       1     0
2         1       3  female  26.0   7.9250       1     0
3         1       1  female  35.0  53.1000       1     0
4         0       3    male  35.0   8.0500       0     1

In [86]:
newdf.drop('Sex',axis='columns',inplace=True)

In [88]:
newdf.head()

   Survived  Pclass   Age     Fare  female  male
0         0       3  22.0   7.2500       0     1
1         1       1  38.0  71.2833       1     0
2         1       3  26.0   7.9250       1     0
3         1       1  35.0  53.1000       1     0
4         0       3  35.0   8.0500       0     1

In [28]:
newdf.columns[newdf.isna().any()]

Index(['Age'], dtype='object')

In [31]:
len(newdf)

891

In [97]:
newdf.dropna(inplace=True)

In [98]:
len(newdf)

714

In [99]:
x = newdf.drop(columns='Survived')
y = newdf['Survived']

In [100]:
y

0      0
1      1
2      1
3      1
4      0
      ..
885    0
886    0
887    1
889    1
890    0
Name: Survived, Length: 714, dtype: int64

In [94]:
from sklearn.model_selection import train_test_split

In [116]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1)

In [117]:
len(x_train)

642

In [118]:
from sklearn.naive_bayes import GaussianNB

In [119]:
model = GaussianNB()

In [120]:
model.fit(x_train,y_train)

GaussianNB()

In [121]:
model.score(x_test,y_test)

0.7777777777777778

In [125]:
x_test[:5]

     Pclass   Age     Fare  female  male
796       1  49.0  25.9292       1     0
16        3   2.0  29.1250       0     1
285       3  33.0   8.6625       0     1
528       3  39.0   7.9250       0     1
638       3  41.0  39.6875       1     0

In [126]:
y_test[:5]

796    1
16     0
285    0
528    0
638    0
Name: Survived, dtype: int64

In [127]:
model.predict(x_test[:5])

array([1, 0, 0, 0, 1])

In [129]:
model.predict_proba(x_test[:5])

array([[0.01121532, 0.98878468],
       [0.98177358, 0.01822642],
       [0.98975269, 0.01024731],
       [0.99019215, 0.00980785],
       [0.05815663, 0.94184337]])